df-cicdpoc-dev/linkedTemplates/ArmTemplate_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-cicdpoc-dev"
		},
		"dp_rawlandz_mxm_ls_db2_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dp_rawlandz_mxm_ls_db2_db'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/srcRawStgWoStatus_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"InputPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "wostatus.txt",
						"folderPath": {
							"value": "@dataset().InputPath",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "WONUM",
						"type": "String"
					},
					{
						"name": "PARENT",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					},
					{
						"name": "CHANGEDATE",
						"type": "String"
					},
					{
						"name": "CHANGEBY",
						"type": "String"
					},
					{
						"name": "ORGID",
						"type": "String"
					},
					{
						"name": "SITEID",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcRawStgWoStatus_ds1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"InputPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "wostatus.txt",
						"folderPath": {
							"value": "@dataset().InputPath",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "WONUM",
						"type": "String"
					},
					{
						"name": "PARENT",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					},
					{
						"name": "CHANGEDATE",
						"type": "String"
					},
					{
						"name": "CHANGEBY",
						"type": "String"
					},
					{
						"name": "ORGID",
						"type": "String"
					},
					{
						"name": "SITEID",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcStgWorkorder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "WONUM",
						"type": "varchar"
					},
					{
						"name": "PARENT",
						"type": "varchar"
					},
					{
						"name": "GOVTWONUM",
						"type": "varchar"
					},
					{
						"name": "ORGID",
						"type": "varchar"
					},
					{
						"name": "SITEID",
						"type": "varchar"
					},
					{
						"name": "LOCATION",
						"type": "varchar"
					},
					{
						"name": "ASSETNUM",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "JPNUM",
						"type": "varchar"
					},
					{
						"name": "WORKTYPE",
						"type": "varchar"
					},
					{
						"name": "TASKID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ISTASK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PLUSCJPREVNUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WOPRIORITY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CHANGEDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "STATUSDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CHANGEBY",
						"type": "varchar"
					},
					{
						"name": "PMDUEDATE",
						"type": "date"
					},
					{
						"name": "TARGSTARTDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TARGCOMPDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "REPORTDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RESPONDBY",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTLABHRS",
						"type": "decimal",
						"precision": 18,
						"scale": 9
					},
					{
						"name": "ACTSTART",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTFINISH",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTINTLABHRS",
						"type": "decimal",
						"precision": 18,
						"scale": 9
					},
					{
						"name": "ESTDUR",
						"type": "decimal",
						"precision": 18,
						"scale": 9
					},
					{
						"name": "WOGROUP",
						"type": "varchar"
					},
					{
						"name": "PERSONGROUP",
						"type": "varchar"
					},
					{
						"name": "OWNERGROUP",
						"type": "varchar"
					},
					{
						"name": "PLUSCFREQUENCY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PLUSCFREQUNIT",
						"type": "varchar"
					},
					{
						"name": "PMNEXTDUEDATE",
						"type": "date"
					},
					{
						"name": "PMNUM",
						"type": "varchar"
					},
					{
						"name": "ENTRY_DT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WO_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "MXMSTG",
					"table": "STG_WORKORDER"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcStgWorkorder1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "WONUM",
						"type": "varchar"
					},
					{
						"name": "PARENT",
						"type": "varchar"
					},
					{
						"name": "GOVTWONUM",
						"type": "varchar"
					},
					{
						"name": "ORGID",
						"type": "varchar"
					},
					{
						"name": "SITEID",
						"type": "varchar"
					},
					{
						"name": "LOCATION",
						"type": "varchar"
					},
					{
						"name": "ASSETNUM",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "JPNUM",
						"type": "varchar"
					},
					{
						"name": "WORKTYPE",
						"type": "varchar"
					},
					{
						"name": "TASKID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ISTASK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PLUSCJPREVNUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WOPRIORITY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CHANGEDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "STATUSDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CHANGEBY",
						"type": "varchar"
					},
					{
						"name": "PMDUEDATE",
						"type": "date"
					},
					{
						"name": "TARGSTARTDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TARGCOMPDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "REPORTDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RESPONDBY",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTLABHRS",
						"type": "decimal",
						"precision": 18,
						"scale": 9
					},
					{
						"name": "ACTSTART",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTFINISH",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTINTLABHRS",
						"type": "decimal",
						"precision": 18,
						"scale": 9
					},
					{
						"name": "ESTDUR",
						"type": "decimal",
						"precision": 18,
						"scale": 9
					},
					{
						"name": "WOGROUP",
						"type": "varchar"
					},
					{
						"name": "PERSONGROUP",
						"type": "varchar"
					},
					{
						"name": "OWNERGROUP",
						"type": "varchar"
					},
					{
						"name": "PLUSCFREQUENCY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PLUSCFREQUNIT",
						"type": "varchar"
					},
					{
						"name": "PMNEXTDUEDATE",
						"type": "date"
					},
					{
						"name": "PMNUM",
						"type": "varchar"
					},
					{
						"name": "ENTRY_DT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WO_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "MXMSTG",
					"table": "STG_WORKORDER"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_RawStgJobPlan_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"InputPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "jobplan.txt",
						"folderPath": {
							"value": "@dataset().InputPath",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "JPNUM",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "JPDURATION",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					},
					{
						"name": "PRIORITY",
						"type": "String"
					},
					{
						"name": "JOBPLANID",
						"type": "String"
					},
					{
						"name": "DOWNTIME",
						"type": "String"
					},
					{
						"name": "LABORCODE",
						"type": "String"
					},
					{
						"name": "SITEID",
						"type": "String"
					},
					{
						"name": "ORGID",
						"type": "String"
					},
					{
						"name": "PERSONGROUP",
						"type": "String"
					},
					{
						"name": "PLUSCREVNUM",
						"type": "String"
					},
					{
						"name": "PLUSCCHANGEDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_RawStgJobPlan_ds1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"InputPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "jobplan.txt",
						"folderPath": {
							"value": "@dataset().InputPath",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "JPNUM",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "JPDURATION",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					},
					{
						"name": "PRIORITY",
						"type": "String"
					},
					{
						"name": "JOBPLANID",
						"type": "String"
					},
					{
						"name": "DOWNTIME",
						"type": "String"
					},
					{
						"name": "LABORCODE",
						"type": "String"
					},
					{
						"name": "SITEID",
						"type": "String"
					},
					{
						"name": "ORGID",
						"type": "String"
					},
					{
						"name": "PERSONGROUP",
						"type": "String"
					},
					{
						"name": "PLUSCREVNUM",
						"type": "String"
					},
					{
						"name": "PLUSCCHANGEDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dp_rawlandz_mxm_ls_db2_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This data set is used for retrieving data from maximo to raw landing through Db2 connector.",
				"annotations": [],
				"type": "Db2",
				"typeProperties": {
					"connectionString": "[parameters('dp_rawlandz_mxm_ls_db2_db_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0,
							"cleanup": true
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyMaximoFileArchive_pln')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Archive MXM Files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcMxmArchive",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkMxmArchiveFile",
								"type": "DatasetReference",
								"parameters": {
									"ArchivePath": {
										"value": "@pipeline().globalParameters.MaximoArchivePath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteMxmLanding files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Archive MXM Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SrcMxmArchive",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.txt",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "MXMCOMM"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-21T07:25:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyMaximoFileArchive_pln1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Archive MXM Files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcMxmArchive1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkMxmArchiveFile1",
								"type": "DatasetReference",
								"parameters": {
									"ArchivePath": {
										"value": "@pipeline().globalParameters.MaximoArchivePath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteMxmLanding files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Archive MXM Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SrcMxmArchive1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.txt",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "MXMCOMM"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-21T07:25:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyMaximoFileInput_pln')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Location File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "locations*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcLocation1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyLocationsSink1",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Asset file",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Location File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "asset*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "copySrcAssetFile1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "copySinkAssetFile1",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Person File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Asset file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "person*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcPerson1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyPersonSink1",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy JobPlan File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Person File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "jobplan*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcJobPlan1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyJobPlanSink1",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy WorkOrder File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy JobPlan File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "workorder*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcWorkOrder1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyWorkOrderSink1",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy WOStatus File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy WorkOrder File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "wostatus*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcWOstatus1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyWOstatusSink1",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Labtrans File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy WOStatus File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "labtrans*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcLabtrans",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyLabtransSink",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "MXMCOMM"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-21T07:25:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyMaximoFileInput_pln1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Location File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "locations*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcLocation11",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyLocationsSink11",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Asset file",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Location File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "asset*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "copySrcAssetFile11",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "copySinkAssetFile11",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Person File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Asset file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "person*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcPerson11",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyPersonSink11",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy JobPlan File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Person File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "jobplan*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcJobPlan11",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyJobPlanSink11",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy WorkOrder File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy JobPlan File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "workorder*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcWorkOrder11",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyWorkOrderSink11",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy WOStatus File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy WorkOrder File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "wostatus*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcWOstatus11",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyWOstatusSink11",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Labtrans File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy WOStatus File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									},
									"wildcardFileName": "labtrans*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CopySrcLabtrans1",
								"type": "DatasetReference",
								"parameters": {
									"LandingPath": {
										"value": "@pipeline().globalParameters.Maximorelativelandingpath",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CopyLabtransSink1",
								"type": "DatasetReference",
								"parameters": {
									"InputPath": {
										"value": "@pipeline().globalParameters.MaximoInputPath",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "MXMCOMM"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-21T07:25:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dp_copy_merge_WOStatus_pln_old')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMergeWOStatusfiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:20:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "rawlandingmaximowostatus",
									"wildcardFileName": "wostatus*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCopyMergeWOStatusFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sinkCopyMergeWOStatusFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-10-19T10:57:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dp_copy_merge_WO_pln')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMergeWOfiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:45:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "workorder*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WONUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WONUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PARENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PARENT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "GOVTWONUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GOVTWONUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "JPNUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JPNUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ASSETNUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ASSETNUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORGID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SITEID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SITEID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOCATION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "WORKTYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WORKTYPE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TASKID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TASKID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ISTASK",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISTASK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PLUSCJPREVNUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PLUSCJPREVNUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "WOPRIORITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WOPRIORITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CHANGEDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CHANGEDATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "STATUSDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STATUSDATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CHANGEBY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CHANGEBY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PMDUEDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PMDUEDATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TARGSTARTDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TARGSTARTDATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TARGCOMPDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TARGCOMPDATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REPORTDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REPORTDATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RESPONDBY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RESPONDBY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ESTDUR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ESTDUR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ACTLABHRS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ACTLABHRS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ACTSTART",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ACTSTART",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ACTFINISH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ACTFINISH",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ACTINTLABHRS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ACTINTLABHRS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "WOGROUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WOGROUP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERSONGROUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PERSONGROUP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OWNERGROUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OWNERGROUP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PLUSCFREQUENCY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PLUSCFREQUENCY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PLUSCFREQUNIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PLUSCFREQUNIT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PMNEXTDUEDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PMNEXTDUEDATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PMNUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PMNUM",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "srcCopyMergeWOFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sinkCopyMergeWOFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-10-19T10:57:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1tst')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:20:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "landing/maximo",
									"wildcardFileName": "workorder*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1tst",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1tstsink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-10-19T10:57:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dp_rawlandz_mxm_asset_source_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp_rawlandz_mxm_ls_db2_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Db2Table",
				"schema": [],
				"typeProperties": {
					"schema": "MAXIMO",
					"table": "ASSET"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dp_rawlandz_mxm_ls_db2_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dp_rawlandz_mxm_asset_source_ds1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp_rawlandz_mxm_ls_db2_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Db2Table",
				"schema": [],
				"typeProperties": {
					"schema": "MAXIMO",
					"table": "ASSET"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dp_rawlandz_mxm_ls_db2_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dp_rawlandz_mxm_jbpl_source_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp_rawlandz_mxm_ls_db2_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Db2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dp_rawlandz_mxm_ls_db2_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dp_rawlandz_mxm_jbpl_source_ds1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp_rawlandz_mxm_ls_db2_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Db2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dp_rawlandz_mxm_ls_db2_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dp_rawlandz_mxm_wostatus_src_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dp_rawlandz_mxm_ls_db2_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Db2Table",
				"schema": [],
				"typeProperties": {
					"schema": "MAXIMO",
					"table": "WOSTATUS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dp_rawlandz_mxm_ls_db2_db')]"
			]
		}
	]
}